div {
        box-sizing: border-box;
        border: 1px solid grey;
        padding: 10px;
        width: 80%;
    }

    #trainheaderbox, #traininfobox {
        text-align: center;
    }

    tr {
        border: thin solid grey;
    }

    #box1 {
        text-align: center;
        background-color: lightblue;
    }

    h6 {
        font-size: 15px;
    }

    .boxheader {
        background-color: lightblue;
    }


    


